$snt_header: navy;
$snt_block_bgcolor: #def;

%abstract-header {
  text-align: center;
  color: $snt_header;
  border: 1px solid $snt_header;
  border-width: 1px 0;
  margin: 20px 0;

  h2 {
    margin: 10px;
  }
}

#snt_container {

  .snt-header {
    display: none;

    h1 {

    }
  }

  .snt-body {

    .snt-show {

      .snt-show-header {
        @extend %abstract-header;
      }

      .snt-show-body {

        ul {
          list-style-type: none;
          padding: 0;


          &:after {
            clear: both;
            content: '';
            display: block;
          }

          .snt-tell-item {
            float: left;
            width: 30%;
            margin-right: 5%;

            &:last-child {
              margin-right: 0;
            }

            .snt-tell-item-wrapper {

            }
          }
        }
      }
    }

    .snt-tell {

      .snt-tell-header {
        @extend %abstract-header;
      }

      .snt-tell-body {

        .snt-tell-item {

          .snt-tell-item-wrapper {
            margin: 20px;
            padding: 20px;
            background-color: $snt_block_bgcolor;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
